---
import GitHub from "./icons/GitHub.astro";
import Web from "./icons/Web.astro";
import React from "./icons/React.astro";
import Typescript from "./icons/Typescript.astro";
import Node from "./icons/Node.astro";
import Spring from "./icons/Spring.astro";
import Django from "./icons/Django.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  REACT: {
    name: "React",
    icon: React
  },
  TYPESCRIPT: {
    name: "Typescript",
    icon: Typescript
  },
  NODE: {
    name: "NodeJS",
    icon: Node
  },
  SPRING: {
    name: "Spring",
    icon: Spring
  },
  DJANGO: {
    name: "Django",
    icon: Django
  }
}

const PROJECTS = [
    {
        title: 'Clon de Google Translate',
        description: 'Clon del traductor de Google haciendo uso de la API de Open AI con soporte para español, inglés y alemán.',
        link: 'https://googletranslate-eab.netlify.app/',
        github: 'https://github.com/estherab/translate-clone',
        image: 'project-translate.png',
        tags: [TAGS.REACT, TAGS.TYPESCRIPT]
    },
    {
        title: 'Comfy Sloth',
        description: 'Ecommerce desarrollado en React con funcionalidad de filtros, carrito, ordenación, vistas, etc.',
        link: 'https://comfysloth-eab.netlify.app/',
        github: 'https://github.com/estherab/react-ecommerce',
        image: 'project-ecommerce.png',
        tags: [TAGS.REACT]
    },
    {
        title: 'Hotel Phegon (en proceso)',
        description: 'Aplicación Fullstack para la gestión de reservas, usuarios y habitaciones de un hotel.',
        github: 'https://github.com/estherab/hotel_management_back',
        image: 'project-hotel.png',
        tags: [TAGS.SPRING,TAGS.REACT]
    },
    {
        title: 'Gold Movies',
        description: 'Aplicación Fullstack para la visualización de tráilers de películas y gestión de las reseñas.',
        github: 'https://github.com/estherab/movies-client',
        image: 'project-movies-spring.png',
        tags: [TAGS.SPRING, TAGS.REACT]
    },
    {
        title: 'Restaurante (en proceso)',
        description: 'Aplicación Fullstack para la gestión de mesas, pedidos y cobros en un restaurante.',
        github: 'https://github.com/estherab/Imenu_django/',
        image: 'project-restaurant.png',
        tags: [TAGS.DJANGO, TAGS.REACT]
    },
    {
        title: 'API NodeJS',
        description: 'API con todas las operaciones posibles para la gestión de películas siguiendo el patrón MVC.',
        github: 'https://github.com/estherab/api-node',
        image: 'project-api-node.png',
        tags: [TAGS.NODE]
    },
    {
        title: 'Chat',
        description: 'Chat en tiempo real desarrollado en NodeJS usando Socket.IO.',
        link: 'https://node-chat-bzs0.onrender.com/',
        github: 'https://github.com/estherab/node-chat',
        image: 'project-chat.png',
        tags: [TAGS.NODE]
    },
]
---
<section class="grid justify-center grid-cols-[500px] lg:grid-cols-[500px_500px] grid-rows-[350px_350px_350px_350px]  gap-20">
  {
    PROJECTS.map(({image, title, description, tags, github, link}) => (
      <article class="bg-cover rounded-xl" style={`background-image: url(${image})`}>
        <div class="bg-black bg-opacity-55 rounded-xl px-10 pt-32 pb-4 flex flex-wrap flex-col">
          <h1 class="text-yellow-300 text-2xl mb-5 transform translate-y-10">
            {title}
          </h1>

          <ul class="flex flex-row mt-6 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span class="opacity-80 bg-gray-800 text-gray-200 flex gap-x-2 rounded-full text-xs py-1 px-2">
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <p class="text-white text-md mt-2 ">
            {description}
          </p>

          <div class="flex gap-6">
            {
              github && (
                <LinkButton href={github}>
                  <GitHub class="size-4" />
                  Code
                </LinkButton>
            )}
            {
            link && (
              <LinkButton href={link}>
                <Web class="size-4" />
                Demo
              </LinkButton>
            )}
          </div>
        </div>
      </article>
    ))
  }
</section>

